.overflow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 13px;
  color: #f8fafc;
  background-color: #94a3b8;
  box-sizing: border-box;
  padding: 9px;
}

*:focus-visible .overflow-button {
  outline: 2px solid #00d300;
}

.overflow-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 3;
}
